<!DOCTYPE html>
<html>
  <head>
  	<title><%= @title%></t itle>
  	<%= csrf_meta_tag %>
  	<!-- [if lt IE 9]>
  	<SCRIPT SRC="HTTP://HTML5SHIV.GOOGLECODE.COM/SVN/TRUNK/HTML5.JS"><</SCRIPT>
  	<!
  	<%= stylesheet_link_tag "blueprint/screen', :media => 'screen' %>
  	<%= stylesheet_link_tag "blueprint/print',  :media => 'print'  %>
  	  </head>
  <body>
  	<%= yield%>
  </body>
</html>
